<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaCursoController</servlet-name>
        <servlet-class>controller.PesquisaCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaBolsaController</servlet-name>
        <servlet-class>controller.PesquisaBolsaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAlunoController</servlet-name>
        <servlet-class>controller.PesquisaAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <servlet-class>controller.PesquisaModalidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaRecursoController</servlet-name>
        <servlet-class>controller.PesquisaRecursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaSelecaoController</servlet-name>
        <servlet-class>controller.PesquisaSelecaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCursoController</servlet-name>
        <servlet-class>controller.ManterCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterBolsaController</servlet-name>
        <servlet-class>controller.ManterBolsaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAlunoController</servlet-name>
        <servlet-class>controller.ManterAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterModalidadeController</servlet-name>
        <servlet-class>controller.ManterModalidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterRecursoController</servlet-name>
        <servlet-class>controller.ManterRecursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterSelecaoController</servlet-name>
        <servlet-class>controller.ManterSelecaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterUsuarioController</servlet-name>
        <servlet-class>controller.ManterUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFormularioController</servlet-name>
        <servlet-class>controller.ManterFormularioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormularioController</servlet-name>
        <servlet-class>controller.PesquisaFormularioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaUsuarioController</servlet-name>
        <servlet-class>controller.PesquisaUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDoencaController</servlet-name>
        <servlet-class>controller.PesquisaDoencaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDoencaController</servlet-name>
        <servlet-class>controller.ManterDoencaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaRendaController</servlet-name>
        <servlet-class>controller.PesquisaRendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterRendaController</servlet-name>
        <servlet-class>controller.ManterRendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCursosController</servlet-name>
        <servlet-class>controller.RelatorioCursosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioFormulariosController</servlet-name>
        <servlet-class>controller.RelatorioFormulariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioFuncionariosController</servlet-name>
        <servlet-class>controller.RelatorioFuncionariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioModalidadesController</servlet-name>
        <servlet-class>controller.RelatorioModalidadesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioRecursosController</servlet-name>
        <servlet-class>controller.RelatorioRecursosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioRendaController</servlet-name>
        <servlet-class>controller.RelatorioRendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioSelecoesController</servlet-name>
        <servlet-class>controller.RelatorioSelecoesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioUsuariosController</servlet-name>
        <servlet-class>controller.RelatorioUsuariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioBolsasController</servlet-name>
        <servlet-class>controller.RelatorioBolsasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDoencasController</servlet-name>
        <servlet-class>controller.RelatorioDoencasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunosBolsistas</servlet-name>
        <servlet-class>controller.AlunosBolsistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAlunoPorCursoController</servlet-name>
        <servlet-class>controller.PesquisaAlunoPorCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAlunosPorCursoController</servlet-name>
        <servlet-class>controller.RelatorioAlunosPorCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAlunosController</servlet-name>
        <servlet-class>controller.RelatorioAlunosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaBolsasPorModalidade</servlet-name>
        <servlet-class>controller.PesquisaBolsasPorModalidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaBolsaPorModalidadeController</servlet-name>
        <servlet-class>controller.PesquisaBolsaPorModalidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioBolsasPorModalidadeController</servlet-name>
        <servlet-class>controller.RelatorioBolsasPorModalidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCursoController</servlet-name>
        <url-pattern>/PesquisaCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaBolsaController</servlet-name>
        <url-pattern>/PesquisaBolsaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAlunoController</servlet-name>
        <url-pattern>/PesquisaAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <url-pattern>/PesquisaModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaRecursoController</servlet-name>
        <url-pattern>/PesquisaRecursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaSelecaoController</servlet-name>
        <url-pattern>/PesquisaSelecaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCursoController</servlet-name>
        <url-pattern>/ManterCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterBolsaController</servlet-name>
        <url-pattern>/ManterBolsaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAlunoController</servlet-name>
        <url-pattern>/ManterAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterModalidadeController</servlet-name>
        <url-pattern>/ManterModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterRecursoController</servlet-name>
        <url-pattern>/ManterRecursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterSelecaoController</servlet-name>
        <url-pattern>/ManterSelecaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterUsuarioController</servlet-name>
        <url-pattern>/ManterUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFormularioController</servlet-name>
        <url-pattern>/ManterFormularioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormularioController</servlet-name>
        <url-pattern>/PesquisaFormularioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaUsuarioController</servlet-name>
        <url-pattern>/PesquisaUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDoencaController</servlet-name>
        <url-pattern>/PesquisaDoencaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDoencaController</servlet-name>
        <url-pattern>/ManterDoencaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaRendaController</servlet-name>
        <url-pattern>/PesquisaRendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterRendaController</servlet-name>
        <url-pattern>/ManterRendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCursosController</servlet-name>
        <url-pattern>/RelatorioCursosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioFormulariosController</servlet-name>
        <url-pattern>/RelatorioFormulariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioFuncionariosController</servlet-name>
        <url-pattern>/RelatorioFuncionariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioModalidadesController</servlet-name>
        <url-pattern>/RelatorioModalidadesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioRecursosController</servlet-name>
        <url-pattern>/RelatorioRecursosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioRendaController</servlet-name>
        <url-pattern>/RelatorioRendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioSelecoesController</servlet-name>
        <url-pattern>/RelatorioSelecoesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioUsuariosController</servlet-name>
        <url-pattern>/RelatorioUsuariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioBolsasController</servlet-name>
        <url-pattern>/RelatorioBolsasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDoencasController</servlet-name>
        <url-pattern>/RelatorioDoencasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunosBolsistas</servlet-name>
        <url-pattern>/AlunosBolsistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAlunoPorCursoController</servlet-name>
        <url-pattern>/PesquisaAlunoPorCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAlunosPorCursoController</servlet-name>
        <url-pattern>/RelatorioAlunosPorCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAlunosController</servlet-name>
        <url-pattern>/RelatorioAlunosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaBolsasPorModalidade</servlet-name>
        <url-pattern>/PesquisaBolsasPorModalidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaBolsaPorModalidadeController</servlet-name>
        <url-pattern>/PesquisaBolsaPorModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioBolsasPorModalidadeController</servlet-name>
        <url-pattern>/RelatorioBolsasPorModalidadeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /TratamentoExcecao
        </location>
    </error-page>
    <error-page>
        <exception-type>
            java.lang.Exception
        </exception-type>
        <location>
            /TratamentoExcecao
        </location>
    </error-page>
</web-app>
